h5 {
  text-align: center;
}

.logs {
  padding: 1.8rem;
  background-color: #333;
  min-height: 200px;
  border-radius: 14px;
}

.logs__item {
  color: lightgreen;
  padding: 10px 0;
  border-bottom: 1px solid lightgreen;
}
